*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    border: 5px solid red;
    
    width: 540px;
    margin: 50px auto;
    
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.row {
/*    border: 2px dotted green;*/
    
    width: inherit;
    height: auto;
    
    display: flex;
}

.pixel {
/*    border: 1px solid black;*/
/*    margin: 1px;*/
    height: 20px;
    
    flex: 1 1 500px;
}

.active {
    background: #3f3f3f;
}