@import url('https://fonts.googleapis.com/css?family=Lobster');

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-weight: normal;
    font-size: 3.5em;
    letter-spacing: 2.5px;
}

.user-input {
    text-align: center;
    margin-top: 40px;
}

input,
button {
    border: none;
    outline: none;
}

input[type=number] {
    border-bottom: 2px solid black;
    text-align: center;
    width: 110px;
    padding: 5px;
    
    transition: all .35s;
}
/* this removes the number spinner */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus {
    border-bottom: 2px solid #f00;
}

button {
    margin-left: 25px;
    padding: 5px 25px;
    font-weight: 700;
    
    font-variant: small-caps;
    transition: all .2s;
}

.reset-btn {
    margin-left: 10px;
    
    background: #8f8f8f;
    color: #000;
    border: 2px solid #000;
}
.reset-btn:hover {
    background: #000;
    color: #8f8f8f;
}

.color-btns {
    margin-top: 50px;
    text-align: center;
}
.color-btns > button:first-child {
    margin-left: 0;
}

.black-btn {
    background-color: #000;
    color: #fff;
    
    border: 2px solid #fff;
}
.black-btn:hover {
    background: #fff;
    color: #000;
}

.white-btn {
    background: #fff;
    color: #000;
    
    border: 2px solid #000;
}
.white-btn:hover {
    background: #000;
    color: #fff;
}

.multi-btn {
    background-color: #0000a0;
    color: #ffa500;
    
    border: 2px solid #ffa500;
}
.multi-btn:hover {
    background-color: #ffa500;
    color: #0000a0;
}

.container {
    border: 5px solid red;
    
    width: 480px;
    max-height: 75%;
    margin: 50px auto;
    
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.row {
    width: inherit;
    height: auto;
    
    display: flex;
}

/* i would prefer the pixel not have a set height */
.pixel {
    height: 10px;
    
    flex: 1 1 500px;
}

.active {
    background: #000;
}
.erase {
    background: #fff;
}