@import url('https://fonts.googleapis.com/css?family=Lobster');

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-weight: normal;
    font-size: 3.5em;
    letter-spacing: 2.5px;
}

.user-input {
    text-align: center;
    margin-top: 40px;
}

input,
button {
    border: none;
    outline: none;
}

input[type=number] {
    border-bottom: 2px solid black;
    text-align: center;
    width: 110px;
    padding: 5px;
    
    transition: all .35s;
}
/* this removes the number spinner */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus {
    border-bottom: 2px solid #f00;
}

button {
    padding: 5px 25px;
    background: #f0f;
    color: #3f3f3f;
    font-weight: 700;
}

.container {
    border: 5px solid red;
    
/*    width: 80vw;*/
    width: 480px;
/*    height: 480px;*/
    max-height: 75%;
    margin: 50px auto;
    
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.row {
    width: inherit;
    height: auto;
    
    display: flex;
}

/* i would prefer the pixel not have a set height */
.pixel {
/*    border: 1px solid black;*/
/*    margin: 1px;*/
    height: 10px;
    
    flex: 1 1 500px;
}

.active {
    background: #3f3f3f;
}